<!DOCTYPE html>
<html>
    <body>
        first name =<%= firstName %> <br>
       l.name = <%= lastName %> <br>
       number= <%= phone %> <br>
       password= <%= password %> <br>
        gender= <%= gender %> <br>
        
    </body>
</html>